.messages {
  padding: 12px;
  overflow-y: auto;

  &__message {
    display: block;
    padding: 12px 16px;
    margin: 8px 0;
    background: #363636;
    border-radius: 5px;
    border-left-style: solid;
    border-left-width: 6px;
    border-left-color: #888;

    &--first {
      padding: 20px 16px;
      font-size: 24px;
    }

    &--error {
      border-left-color: #af2c2c;
    }

    &--warning {
      border-left-color: #c29837;
    }

    &--info {
      border-left-color: #1930ab;
    }

    &--homing {
      border-left-color: #199fab;
    }
  }
}
